$background: #222222;
$textcolor: #eeeeee;
$buttonbg: $textcolor;
$buttonbghover: #888888;
$buttontext: $background;
table, tr, th, td {
  border: none;
  padding: 0;
}
.option {
  background: $buttonbg;
  color: $buttontext;
  text-align: center;
  padding: 3rem 5rem;
  font-size: 2.5rem;
}
.option:hover {
  background: $buttonbghover;
}
#optiontable {
  display: none;
  height: 90%;
}
.optiontablecontainer {
  display: flex;
  justify-content: center;
}
.start {
  font-size: 5rem;
  padding: 5rem 10rem;
}
