$background: #222222;
$textcolor: #eeeeee;
$buttonbg: $textcolor;
$buttonbghover: #888888;
$buttontext: $background;
body {
  color: $textcolor;
  background: $background;
  font-family: "Noto Sans",Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1rem;
}
button, .buttonlink {
  background: $buttonbg;
  color: $buttontext;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  :hover {
    background: $buttonbghover;
  }
  font-size: inherit;
  font-family: inherit;
  padding: 0.05rem 0.2rem;
}
.buttonlink:visited {
  color: $buttontext;
}
#navbar, #navbar-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li, div {
    float: right;
    background: $buttonbg;
    padding: 1rem 0.5rem;
    a {
      color: $buttontext;
    }
    a:hover {
      color: $buttontext;
    }
    a:visited {
      color: $buttontext;
    }
  }
  li:hover {
    background: $buttonbghover;
  }
}
a {
  color: #77eeee;
  text-decoration: none;
}
a:hover {
  color: #999999;
}
table, tr, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}
th {
  font-weight: bold;
}
