$contentsfontsize: 3rem;
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
body {
  font-size: $contentsfontsize;
  max-width: 100%;
}
#navbar-mobile {
  position: absolute;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  background: #eeeeee;
}
.navbar-mobile-element {
  padding: 0.5rem 2rem;
  display: none;
  text-align: right;
  width: 20rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 5rem;
    font-size: $contentsfontsize;
    width: 80%;
  }
}
ul {
  font-size: 5rem;
  margin-left: 3rem;
}
table, tr, th, td {
  border: 5px solid white;
  border-collapse: collapse;
  padding: 0;
  font-size: 2rem;
}
button, .buttonlink {
  padding: 0.5rem 2rem;

}
.buttoncontainer {
  background: #eeeeee;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20rem, 20rem;
  .buttonlinkcontainer {
    flex: 1;
    .buttonlink {
      background: none;
      padding: 0;
    }
  }
}